.features-list {
    @extend %list;
    display: flex;
}

.features-list__item {
    width: 270px;
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.features-list__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: $background-color-team;
    border-radius: 4px;
    margin-bottom: 30px;
}

.features-list__title {
    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features-list__text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}