.contacts {
    @extend .nav-list;
    margin-left: auto;
}

.contacts__item:not(:last-child) {
    margin-right: 50px;
}

.contacts__link {
    @extend .nav-list__link;
    &:hover, &:focus {
            color: $accent-color;
        }
    &:hover .contacts__icon, &:focus .contacts__icon {
            fill: $accent-color;
        }
}

.contacts__icon {
    margin-right: 10px;
    fill: $primary-text-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
            fill: $accent-color;
        }
}